<f7-view>
    <f7-pages>
        <f7-page no-navbar no-toolbar no-swipeback layout="blue">

            <!-- Title -->
            <f7-block style="text-align: center; font-size: 25px;">{{!$root.user ? text.titleSignIn : text.titleSignOut}}</f7-block>

            <!-- Form for email sign in / registration / password reset -->
            <f7-list form id="app-framework-login-screen" inset v-if="!$root.user && ((mode === 'signIn') ||  (mode === 'registration'))">
                <f7-list-item v-if="(mode === 'signIn') || (mode === 'registration')">
                    <f7-label>{{text.email}}</f7-label>
                    <f7-input type="email" :placeholder="text.email" v-model="email" />
                </f7-list-item>
                <f7-list-item v-if="(mode === 'signIn') || (mode === 'registration')">
                    <f7-label>{{text.password}}</f7-label>
                    <f7-input type="password" :placeholder="text.password" v-model="password" />
                </f7-list-item>
                <f7-list-item v-if="(mode === 'registration')">
                    <f7-label>{{text.password}}</f7-label>
                    <f7-input type="password" :placeholder="text.passwordConfirmation" v-model="passwordConfirmation" />
                </f7-list-item>
            </f7-list>

            <!-- Email sign in buttons -->
            <f7-block v-if="mode === 'signIn'">
                <f7-button big raised color="green" fill @click="handleSignIn">{{text.signIn}}</f7-button big>
            </f7-block>

            <!-- Email registration buttons -->
            <f7-block v-if="mode === 'signIn'">
                <f7-button big raised color="green" @click="mode='registration'">{{text.createAccount}}</f7-button big>
            </f7-block>
            <f7-block v-if="mode === 'registration'">
                <f7-button big raised color="green" fill @click="handleRegistration">{{text.handleRegistration}}</f7-button big>
            </f7-block>

            <!-- Email reset buttons -->
            <!-- <f7-block v-if="mode === 'signIn'">
    <f7-button big raised color="orange" @click="mode='reset'">{{text.resetPassword}}</f7-button big>
  </f7-block>
  <f7-block v-if="mode === 'reset'">
    <f7-button big raised color="orange" fill @click="handleReset">{{text.handleReset}}</f7-button big>
  </f7-block> -->

            <!-- Logout button -->
            <f7-block v-if="mode === 'signOut'">
                <f7-button big raised color="red" fill @click="handleSignOut">{{text.signOut}}</f7-button big>
            </f7-block>

            <!-- Cancel button -->
            <f7-block>
                <f7-button big raised color="red" @click="cancel" class="close-login-screen">{{text.cancel}}</f7-button big>
            </f7-block>

        </f7-page>
    </f7-pages>
</f7-view>

<img src="" alt="">