<template lang="html">
    
    <f7-toolbar tabbar labels>
        <f7-link icon="iconfont icon-ios7homeoutline" tab-link="#home" active></f7-link>
        <f7-link icon="iconfont icon-ios7chatbubbleoutline"  tab-link="#contacts"></f7-link>
        <f7-link icon="iconfont icon-ios7gearoutline"  tab-link="#settings"></f7-link>
    </f7-toolbar>
    <f7-tabs>
      <f7-tab id="home" active v-on:click="tabActived('home')">
        <home-view></home-view>  
      </f7-tab>
      <f7-tab id="contacts" v-on:click="tabActived('contacts')">
        <contacts-view></contacts-view>
      </f7-tab>
      <f7-tab id="settings" v-on:click="tabActived('settings')">
        <settings-view></settings-view>
      </f7-tab>
    </f7-tabs>
</template> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tenetur itaque praesentium? Tenetur ex, reprehenderit ratione alias fugit odio at aperiam in quod dicta dolore harum saepe! A, sit placeat.