<f7-view>
    <f7-pages>
        <f7-page no-navbar no-toolbar no-swipeback layout="blue">

            <!-- Title -->
            <f7-block style="text-align: center; font-size: 25px;">{{!$root.user ? text.titleSignIn : text.titleSignOut}}</f7-block>

            <!-- Form for email sign in / registration / password reset -->
            <f7-list form id="app-framework-login-screen" inset v-if="!$root.user && ((mode === 'signIn') ||  (mode === 'registration'))">
                <f7-list-item v-if="(mode === 'signIn') || (mode === 'registration')">
                    <f7-label>{{text.email}}</f7-label>
                    <f7-input type="email" :placeholder="text.email" v-model="email" />
                </f7-list-item>
                <f7-list-item v-if="(mode === 'signIn') || (mode === 'registration')">
                    <f7-label>{{text.password}}</f7-label>
                    <f7-input type="password" :placeholder="text.password" v-model="password" />
                </f7-list-item>
                <f7-list-item v-if="(mode === 'registration')">
                    <f7-label>{{text.password}}</f7-label>
                    <f7-input type="password" :placeholder="text.passwordConfirmation" v-model="passwordConfirmation" />
                </f7-list-item>
            </f7-list>

            <!-- Email sign in buttons -->
            <f7-block v-if="mode === 'signIn'">
                <f7-button big raised color="green" fill @click="handleSignIn">{{text.signIn}}</f7-button big>
            </f7-block>

            <!-- Email registration buttons -->
            <f7-block v-if="mode === 'signIn'">
                <f7-button big raised color="green" @click="mode='registration'">{{text.createAccount}}</f7-button big>
            </f7-block>
            <f7-block v-if="mode === 'registration'">
                <f7-button big raised color="green" fill @click="handleRegistration">{{text.handleRegistration}}</f7-button big>
            </f7-block>

            <!-- Email reset buttons -->
            <!-- <f7-block v-if="mode === 'signIn'">
    <f7-button big raised color="orange" @click="mode='reset'">{{text.resetPassword}}</f7-button big>
  </f7-block>
  <f7-block v-if="mode === 'reset'">
    <f7-button big raised color="orange" fill @click="handleReset">{{text.handleReset}}</f7-button big>
  </f7-block> -->

            <!-- Logout button -->
            <f7-block v-if="mode === 'signOut'">
                <f7-button big raised color="red" fill @click="handleSignOut">{{text.signOut}}</f7-button big>
            </f7-block>

            <!-- Cancel button -->
            <f7-block>
                <f7-button big raised color="red" @click="cancel" class="close-login-screen">{{text.cancel}}</f7-button big>
            </f7-block>

        </f7-page>
    </f7-pages>
</f7-view>

<img src="" alt="">

<div class="picker-modal picker-1">
    <div class="toolbar">
        <div class="toolbar-inner" style="color: white; padding: 0 20px;">
            <div class="left">New Record</div>
            <div class="right"><a href="#" class="close-picker">Done</a></div>
        </div>
    </div>
    <div class="picker-modal-inner">
        <div class="content-block">
            <h4 @click="stratProgress()">Info 1</h4>
            <span class="progress-value" id="progressbartimer">5 sec</span>

        </div>
        <div class="gd-progress-bar">
            <progress id="progressbar" v-bind:value="resValue" max="50"></progress>
        </div>

    </div>
</div>

<section class="photograb">
    <f7-navbar sliding theme="red">
        <f7-nav-left>
            <f7-link class="close-popup">
                <f7-icon f7="close_round" size="35px" color="#c0392b"></f7-icon>
            </f7-link>
        </f7-nav-left>
        <f7-nav-center>New slide</f7-nav-center>
        <f7-nav-right>
            <f7-link @click="addSlide" class="close-popup" v-bind:disabled="!isValid">
                <!-- v-bind:disabled = "!isValid" -->
                <f7-icon f7="check_round" size="35px" color="#c0392b"></f7-icon>
            </f7-link>
        </f7-nav-right>
    </f7-navbar>

    <div form class="slide_title">
        <input type="text" placeholder="Title" v-model="slide.title" />
    </div>
    <img src="" class="lazy slide-img" id="myImage" style="display: none">
    <div class="control-buttons">
        <f7-list>
            <f7-list-item>
                <f7-button :color="getColorImg" v-on:click="getCamera()">
                    <f7-icon material="camera" size="35px"></f7-icon>
                </f7-button>
                <f7-button :color="getColorImg" v-on:click="openFilePicker()">
                    <f7-icon material="photo_library" size="35px"></f7-icon>
                </f7-button>
                <f7-button :color="getColorRecord" data-picker=".picker-1" class="open-picker">
                    <f7-icon material="mic" size="35px"></f7-icon>
                </f7-button>
            </f7-list-item>
        </f7-list>
    </div>
    <!-- v-on:click="getRecord()" -->
    <div class="picker-modal picker-1">
        <div class="toolbar">
            <div class="toolbar-inner" style="color: white; padding: 0 20px;">
                <div class="left">New Record</div>
                <div class="right"><a href="#" class="close-picker">Done</a></div>
            </div>
        </div>
        <div class="picker-modal-inner">
            <div class="content-block">
                <h4 @click="stratProgress()">Info 1</h4>
                <span class="progress-value" id="progressbartimer">5 sec</span>

            </div>
            <div class="gd-progress-bar">
                <progress id="progressbar" v-bind:value="resValue" max="50"></progress>
            </div>

        </div>
    </div>

</section>